<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") -%>
    <title>Add new blog page</title>
  </head>
  <body>
    <%- include("partials/nav") %>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow rounded">
            <div class="card-body">
              <h3 class="card-title mb-4 text-center">Upload Form</h3>

              <form action="/blog/add-new" method="POST">
                <div class="mb-3">
                  <label for="coverImage" class="form-label">Cover Image</label>
                  <input
                    class="form-control"
                    type="file"
                    id="file"
                    name="coverImage"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label for="body" class="form-label">Body</label>
                  <textarea
                    class="form-control"
                    id="body"
                    name="body"
                    rows="4"
                    required
                  ></textarea>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- bootstrap link -->
    <%- include("partials/script") -%>
  </body>
</html>
